*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
    

}

.naga {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.naga {
    display: flex;
    margin-right: 10px;
}

.naga a {
    display: block;
    padding: 2opx 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.naga a:hover {
    background: #e91e63;
}