body{
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: rgb(95, 112, 107);
}

header{
    display: flex;
    height: 50px;
    background-color: rgb(206, 204, 122);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
height: 50px;
margin-left: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: antiquewhite;
}